@media (max-width: 1977px) {
    :root {
        --padding-x: 7rem;
        --padding-y: 24px;
        --review-padding-y: 3.75rem;
    }
}
@media (max-width: 1523px) {
    :root {
        --big-number-size: 2rem;
        --hero-section-title-size: 2.25rem;
        --hero-section-description-size: 1rem;
        --logo-size: 1.5rem;
    }
    .offers-container, .review-container, footer {
        gap: 1.35rem;
    }
    .offer-item {
        flex-basis: calc(50% - 5.75rem);
    }
    .footer-item {
        flex-basis: 40%;
    }
    .hero-section img {
        max-width: 40%;
    }
    .navbar-nav {
        display: none;
    }
}
@media (max-width: 1069px) {
    .collections {
        gap: 2rem;
    }
    .item {
        max-width: 350px;
    }
    .item .image-container {
        padding: 2.4rem 4.9rem;
    }
}
@media (max-width: 972px) {
    :root {
        --padding-x: 5rem;
    }
    .item {
        max-width: 300px;
    }
    .item .image-container {
        padding: 2.4rem 3rem;
    }
}
@media (max-width: 842px) {
    :root {
        --hero-section-title-size: 2rem;
    }
}
@media (max-width: 792px) {
    :root {
        --padding-x: 1.25rem;
        --logo-size: 1.3rem;
    }
    .statistics .frame {
        min-width: 30%;
    }
    .explore .description {
        font-size: 1.25rem;
        font-weight: 500;
    }
}
@media (max-width: 671px) {
    .hero-section {
        flex-direction: column;
        justify-content: center;
    }
    .hero-section button{
        width: 100%;
    }
    .hero-section img {
        min-width: 100%;
    }
    .offer-item, .review-item, .footer-item {
        flex-basis: 100%;
    }
}
@media (max-width: 460px) {
    .Our-Offerings {
        align-items: start;
    }
    .section-header {
        font-size: 1.75rem;
        white-space: nowrap;
    }
}
@media (max-width: 400px) {
    :root {
        --big-number-size: 1.5rem;
        --hero-section-title-size: 2rem;
        --hero-section-description-size: 1rem;
    }
    .statistics .frame .title {
        font-size: 1rem;
    }
    .offer-item h4 {
        font-size: 1.5rem;
    }
}
@media (max-width: 330px) {
    .section-header {
        font-size: 1.45rem;
    }
}